body{
	background-image:url("imagens/fundo.jpg");
	font-family:"Segoe Script"; 
}
#logo{
	width:55%;
	margin:0 auto;
	display:block;
}
.menu{
	width:65%;
	margin:0 auto;
	display:block;
}
.menu ul{
	list-style-type:none;
	text-align:center;
	padding:0;
}
.menu ul li{
	display:inline-block;
	width:24%;
}
.menu ul li a{
	display:block;
	text-decoration:none;
	background-color:#6B9571;
	text-align:center;
	text-transform:uppercase;
	padding:1%;
	color:black;
	font-size:1em;
	font-weight:bold;
}
.menu ul li a:hover{
	color:white;
	background-color:#c1703F; 
}
.principal{
	width:64%;
	display:block;
	margin:0 auto;
}
.principal h3{
	text-align:center;
	border-bottom:5px solid #6B9571;
}
.principal article p{
	white-space:pre-wrap;
	text-align:justify;
	margin-left:1%;
}
.principal img{
	width:20%;
	float:left;
}

.principal{
	width:64%;
	display:block;
	margin:0 auto;
}
.principal h3{
	text-align:center;
	border-bottom:5px solid #6B9571;
}
.principal article p{
	white-space:pre-wrap;
	text-align:justify;
	margin-left:1%;
}
.principal img{
	width:20%;
	float:left;
}